<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Instagram>
            <version>1.1.0</version>
        </Magazento_Instagram>
    </modules>
    <frontend>
       <routers>
           <instagram>
               <use>standard</use>
               <args>
                   <module>Magazento_Instagram</module>
                   <frontName>magazento_instagram</frontName>
               </args>
           </instagram>
       </routers>        
        <layout>
            <updates>
                <instagram>
                    <file>magazento_instagram.xml</file>
                </instagram>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <gallery>
                        <type>singleton</type>
                            <class>instagram/layout</class>
                        <method>fetchDbLayoutUpdates</method>
                    </gallery>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>           
    </frontend>
    <global>
        <models>
            <instagram>
                <class>Magazento_Instagram_Model</class>
                <resourceModel>instagram_mysql4</resourceModel>
            </instagram>
            <instagram_mysql4>
                <class>Magazento_Instagram_Model_Mysql4</class>
                <entities>
                    
                    <item>
                        <table>magazento_instagram_item</table>
                    </item>
                    <item_store>
                        <table>magazento_instagram_item_store</table>
                    </item_store>
                    <item_category>
                        <table>magazento_instagram_item_category</table>
                    </item_category>                          
                    <item_page>
                        <table>magazento_instagram_item_page</table>
                    </item_page>
                    <item_product>
                        <table>magazento_instagram_item_product</table>
                    </item_product>                          
                </entities>
            </instagram_mysql4>
        </models>
        <resources>
            <instagram_setup>
                <setup>
                    <module>Magazento_Instagram</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </instagram_setup>
            <instagram_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </instagram_write>
            <instagram_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </instagram_read>
        </resources>
        <blocks>
            <instagram>
                <class>Magazento_Instagram_Block</class>
            </instagram>
        </blocks>
        <helpers>
            <instagram>
                <class>Magazento_Instagram_Helper</class>
            </instagram>
        </helpers>
    </global>
    <admin>
        <routers>
            <instagram>
                <use>admin</use>
                <args>
                    <module>Magazento_Instagram</module>
                    <frontName>instagram</frontName>
                </args>
            </instagram>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <instagram translate="title" module="instagram">
                                            <title>Instagram</title>
                                        </instagram>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms translate="title" module="instagram">
                <children>
                    <instagram translate="title" module="instagram">
                        <title>InstaStream</title>
                        <action>instagram/admin_item/</action>
                        <resource>instagram/admin/item</resource>                        
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="instagram">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/instagram</action>
                                <sort_order>40</sort_order>
                            </settings>                                
                        </children>
                    </instagram>
                </children>
            </cms>
        </menu> 
        <layout>
            <updates>
                <instagram>
                    <file>magazento_instagram.xml</file>
                </instagram>
            </updates>
        </layout>        
    </adminhtml>
    <default>
        <instagram>
            <general>
                <jquery>1</jquery>
            </general>
        </instagram>
    </default>
</config>